<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tyler Hennig | Fullstack Developer</title>
    <meta name="description" content="Capable and professional full-stack web developer.">
  </head>

  <body>
    <div class="container">
      <div class="avatar-container">
        <%= image_tag "headshot.jpeg", alt: "Tyler's avatar photo", class: "avatar-large" %>
        <div class="ellipse"></div>
      </div>
      <div class="text-container">
        <h2>Fullstack Web Developer</h2>
        <h1>Tyler Hennig</h1>
        <p>(090)-6166-5171</p>
        <p>tylerjhennig@gmail.com</p>
      </div>
    </div>
  </body>
</html>
